<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--인터페이스 연결 MemberMapper.java -->  
<mapper namespace="com.java.www.mapper.TBoardMapper"> 

  	<!-- 게시글 전체 가져오기 -->
	<select id="tb_selectAll" resultType="com.java.www.dto.TBoardDto">
		 select *from (select rownum rnum, a.* from
		 (select * from t_board
		 	<if test="searchTitle == 't_btitle' or searchTitle == 't_bcontent' or searchTitle == 'id' ">
				where ${searchTitle} like '%'||#{searchWord}||'%'
			</if>
			<if test="searchTitle == 'all' ">
				where t_btitle like '%'||#{searchWord}||'%' or t_bcontent like '%'||#{searchWord}||'%' or id like '%'||#{searchWord}||'%'
			</if>
		  order by t_bgroup desc, t_bstep asc) a )
		 where rnum between #{startRow} and  #{endRow}
	</select>
	
	<!--게시글 총 개수  -->
	<select id="tb_selectCountAll" resultType="int">
		select count(*) from t_board
		<if test="searchTitle == 't_btitle' or searchTitle == 't_bcontent' or searchTitle == 'id'">
			where ${searchTitle} like '%'||#{searchWord}||'%'
		</if>
		<if test="searchTitle == 'all' ">
			where t_btitle like '%'||#{searchWord}||'%' or t_bcontent like '%'||#{searchWord}||'%' or id like '%'||#{searchWord}||'%' 
		</if>
	</select>
	
	<!-- 게시글 1개 가져오기- 현재글  -->
	<select id="tb_selectOne" resultType="com.java.www.dto.TBoardDto">
		select * from t_board where t_bno=#{t_bno}
	</select>
	
	<!-- 게시글 1개 가져오기- 이전글  -->
	<select id="tb_selectOnePrev" resultType="com.java.www.dto.TBoardDto">
		select * from (select row_number() over(order by t_bgroup desc,t_bstep asc)rnum, a.*from
		t_board a ) where rnum = (select rnum from
		(select row_number() over(order by t_bgroup desc,t_bstep asc)rnum, a.*from
		t_board a)where t_bno=#{t_bno})+1
	</select>
	
	<!-- 게시글 1개 가져오기- 다음글  -->
	<select id="tb_selectOneNext" resultType="com.java.www.dto.TBoardDto">
		select * from (select row_number() over(order by t_bgroup desc,t_bstep asc)rnum, a.*from
		t_board a ) where rnum = (select rnum from
		(select row_number() over(order by t_bgroup desc,t_bstep asc)rnum, a.*from
		t_board a)where t_bno=#{t_bno})-1
	</select>
	
	<!-- 게시글(글쓰기) 저장  -->
	<insert id="tWrite">
		insert into t_board values (t_board_seq.nextval,aaa,#{t_btitle},#{t_bcontent},sysdate,
		1,t_board_seq.currval,0,0,#{t_bfile})
	</insert>
	<!-- 게시글 삭제 -->
	<delete id="tDelete">
		delete t_board where t_bno=#{t_bno}
	</delete>
	
	<!-- 게시글 수정 저장 -->
	<update id="doTBoard">
		update t_board set t_btitle=#{t_btitle},t_bcontent=#{t_bcontent},t_bdate=sysdate,
		t_bfile=#{t_bfile} where t_bno=#{t_bno}
	</update>
	
	

</mapper>